.subscribe-container
{
    border: 3px solid black;
    border-radius: 7px;
}

.background
{
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.foreground
{
    background-color: #ffffff;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.article-headline
{
    margin-bottom: 0;
}

.article-text
{
    margin-top: 5px;
}

div.big.row
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.subscribe-field-container
{
    margin-left: 10px;
    margin-right: 10px;
}

#sub-email
{
    margin-bottom: 0;
}

.subscribe-header
{
    margin-top: 9px;
}

#check-your-email
{
    font-size: 22px;
}
