.format-icon
{
    /*border: 5px solid #959595;
    border-radius: 2px;*/
}

.format-icon.active
{
    background-color: #91ff96;
}

.format-icon:hover
{
    background-color: #7fed84;
    cursor: pointer;
}

div.editor-outline
{
    border: 5px solid #959595;
    border-radius: 4px;
}

div.editor-actions-row
{
    margin-bottom: 0;
}

#richtext
{
    height: 500px;
    overflow: auto;
}

#richtext:focus
{
    outline: none;
}
