<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title id="title">ZNews</title>

    <link rel="stylesheet" href="/fonts/material_icons/material_icons.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/highlightjs.min.css">
    <link rel="stylesheet" href="/css/katex.min.css">
    <link rel="stylesheet" href="/css/quill.core.css">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/view/view.css">

</head>
<body>

<div class="background">
    <div class="container foreground">

        <!-- Main Logo/Title -->
        <div class="big row">
            <div class="col s12 center-align">
                <img src="/img/logo.jpg" alt="ZNEWS"/>
            </div>
        </div>

        <div class="row">

            <div class="col s12">

                <div class="row">
                    <div class="col s12">
                        <h4 class="red-text text-lighten-1 article-headline" id="main-article-headline"></h4>
                    </div>
                </div>

                <div class="row descr-row">
                    <div class="col s12">
                        <div class="card-panel grey lighten-3">
                            <span id="description"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 flow-text ql-editor ql-snow" id="main-container"></div>
                </div>

            </div>

        </div>

    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/sweetalert.min.js"></script>
<script src="/js/main-aesthetics.js"></script>
<!--<script src="/js/showdown.min.js"></script>-->
<script src="/js/highlightjs.min.js"></script>
<script src="/js/katex.min.js"></script>
<script src="/js/quill.min.js"></script>

<script src="/js/delta_renderer.min.js"></script>
<script src="/view/view.min.js"></script>

</body>
</html>
